// General, move somewhere else

.breadcrumb {
  background-color: #F4FAF4;
  font-size: 0.75rem;
  li {
    margin-right: 5px;
    margin-left: 5px;
    &:first-child {
       margin-left: 0;
    }
  }
}

h1 > small {
  font-size: 50%;
  i { font-size: 80%;}
}

// Specific CSS for your home-page

#map { height: 80vh; }
.leaflet-popup-content p {
    margin: 8px 0 5px 0 !important;
}
#homeBanner {
  min-height: 60vh;
  background-position: center;
  .banner-content {
    background-color: rgba(0,0,0,0.6);
  }
  color: white;
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.cta {
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.compost-option {
  padding: 20px;
  @extend .white-box
}

.white-box {
  box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.35);
  background-color: white;
}
