javascript:
  var mymap = L.map('map', {gestureHandling: true}).setView([45.7617, 4.8361], 13);
  var accessToken = '#{mapbox_api_token}';

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: accessToken
  }).addTo(mymap);

  var data = #{markers_data};
  var publicSiteIconPath = '#{image_path(MapMarkersDecorator.public_composter_marker)}';
  var privateSiteIconPath = '#{image_path(MapMarkersDecorator.private_composter_marker)}';

  data.forEach((site, i) => {
    if (site.latitude == null) {
      return;
    }
    var siteIconPath = site.public ? publicSiteIconPath : privateSiteIconPath;
    var composterIcon = L.icon({
      iconUrl: siteIconPath,
      iconSize: [24, 24],
    });
    var marker = L.marker([site.latitude, site.longitude], {icon: composterIcon}).addTo(mymap);
    var text = site.map_marker_display;

    marker.bindPopup(text);
  });
