= render 'shared/load_leaflet_map'
= stylesheet_link_tag("https://unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css")
= javascript_include_tag("https://unpkg.com/leaflet-gesture-handling")
