= render 'shared/load_leaflet_fullwidth'
= content_for :meta_title, page_title(:condominium_sites)
= content_for :meta_description, page_description(:condominium_sites)

h1.mt-3= page_title(:condominium_sites)

#map.mt-3

.container.mt-5
  = render partial: "sites/site", collection: @sites

= render 'shared/leaflet_sites_map',
  mapbox_api_token: Rails.application.credentials.mapbox[Rails.env.to_sym][:access_token],
  markers_data: raw(@site_markers_data)
= render 'shared/footer'
