= render 'sites/index',
  sites: @sites,
  markers_data: @site_markers_data,
  title: 'Composteurs de copropriété à Lyon et sa métropole',
  description: "Retrouvez tous les composteurs de copropriété de Lyon métropole, avec les informations pour les rejoindre."
