= content_for :meta_title, "Le projet Compost Lyon"
= content_for :meta_description, "Compost Lyon a pour but de recenser les lieux existants pour composter à Lyon, présenter les acteurs du compostage sur la métropole et guider les citoyens dans leur démarche de valorisation des déchets organiques."

.container.py-5
  %h1 Compost Lyon - Le projet
  %p
    Compost Lyon a pour but de recenser les lieux existants pour composter à Lyon,
    présenter les acteurs du compostage sur la métropole
    et guider les citoyens dans leur démarche de valorisation des déchets organiques.
    %br
    Le site est en cours de création.
    %br
    Parmi les pistes de développement :
    %ul
      %li Rassembler les citoyens motivés pour créer collectifs et ouvrir composteurs de quartier
      %li Guider ces démarches auprès des acteurs, et notamment de la métropole
      %li Proposer une gestion des utilisateurs et des listes d'attente des composteurs collectifs.

    %h2 Objectifs :
    %ul
      %li Faciliter l’accès au compostage pour les habitants de la métropole de Lyon et de ses alentours.
      %li
        Sensibiliser sur les enjeux de la gestion des déchets organiques
        %ul
          %li Eviter l’incinération des biodéchets, source d’émissions inutiles de gaz à effet de serre
          %li Favoriser le retour de la matière organique vers les sols agricoles sous forme de compost de qualité
      %li Mobiliser les citoyens pour développer le compostage à grande échelle sur la métropole de Lyon.
      %li Fédérer les initiatives locales sur le sujet.
      %li Promouvoir l’économie circulaire, les acteurs locaux et régionaux.

    %h2 Qui sommes-nous ?

    %p
      Compost Lyon est pour l'instant une initiative individuelle ayant potentiellement vocation à se structurer en association.
      %br
      Je suis depuis 2019 référent du site de compostage Aristide Briand Lyon, monté par l'association Vol'Terre en partenariat avec la métropole de Lyon.
      %br
      Début 2020, j'ai rencontré plusieurs acteurs du compostage sur la métropole de Lyon
      (OuiCompost, Compost'Elles, association Eisenia, Terrestris, Réseau Compost Citoyen).
      %br
      En parallèle d'une activité professionnelle en tant qu'indépendant (Développement commercial, web marketing, enseignement),
      je travaille à temps partiel depuis mars 2020 pour l'entreprise Terrestris,
      sur les activités de lombriculture, chantiers d'espaces verts, collecte de biodéchets.

    %p
      N'hésitez pas à prendre contact pour partager des idées de développement, des informations sur les sites de compostages et les acteurs.
      %br
      Julien Jet pour Compost Lyon
      %br
      = mail_to 'lyoncompost@gmail.com', 'lyoncompost@gmail.com'
