.container.text-center.my-5
  = image_tag('logo.png')
  %h1 OUPS...
  %p
    On dirait que la page demandée n'est pas disponible.
    Si vous pensez qu'il s'agit d'une erreur de notre part, n'hésitez pas à
    %br
    = mail_to('lyoncompost@gmail.com', "nous faire remonter l'info", subject: 'Erreur sur le site')
    en nous indiquant ce que vous cherchiez.
  = link_to("Retour à l'accueil", root_path, class: 'btn btn-info')
