.navbar {
  .navbar-nav {
    .dropdown-menu { left: inherit; }
  }
  .dropdown-toggle {
    .nav-link { display: inline-block; }
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  margin-left: 10px;
  &.contact-btn { margin-left: 20px}
}

.navbar-lewagon .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  img {
    width: 60px;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
  }
}
