<p>Bonjour <%= @resource.name %>,</p>

<p>Vous avez demandé à modifier votre mot de passe sur Compost Lyon.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de la requête, vous pouvez ignorer cet email</p>
<p>Votre mot de passe ne sera pas modifié à moins que vous cliquiez sur le lien ci-dessous et procédiez à la modification.</p>

<p>Bonne journée,</p>
<p>Julien pour Compost Lyon</p>
