= render 'index',
  sites: @sites,
  markers_data: @site_markers_data,
  title: 'Composteurs collectifs à Lyon et sa métropole',
  description: "Retrouvez tous les composteurs collectifs de Lyon métropole, avec les informations pour les rejoindre."
